* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Fira Sans Condensed', sans-serif;
}
/* menu */
nav {
  position: fixed;
  top: 10px;
  width: 100%;
  height:20vh;
}
nav ul {
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

nav ul li a{
  text-decoration: none;
  color: black;
  letter-spacing: 2px;
  border: 2px solid black;
  border-radius: 5px;
  padding: 5px;

  
}
nav ul li a:hover 
{
  color: #FA8072;
  background-color: #FFEFD5;

}
/* home */

.layout {
  background-color: #FFF5EE;
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.text, p, h2 {
  padding-top: 20px;
  color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  
}


.logo {
  color: #FA8072;
  font-size: 45px;
  font-weight: bold;
  letter-spacing: 2px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

}

.img
{
  margin-top: 20px;
  width: calc(20em + 5vw);
  height: calc(25em + 5vw);
  background-image: url(./myfoto.jpg);
  background-position: center;
  background-size: cover;
  border: 2px solid black;
  border-radius: 10px;
  
}
/* about me */

.aboutme {
  background-image: url(./pinkfoto3.jpeg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 100vh;
  text-align: center;
  /* display: flex;
  justify-content: center;
  align-items: center; */

}
.titel {
  text-align: center;
  padding-top: 300px;
  letter-spacing: 3px;

}
.content {
  padding-top: 30px;
  letter-spacing: 2px;
  line-height: 1.5;
}

button {
  margin-top: 20px;
  padding: 10px;
  border-radius: 5px;
  background-color: #FA8072;
}
button:hover {
  font-weight: bold;
  background-color: transparent;
  border: 2px solid #FA8072;
  cursor: alias;

}

/* contact */

.contact {
  background-color: #FFF5EE;
  width: 100%;
  height: 100vh;

}
.contact h2 {
  padding-top: 20px;

}

.card h3, .form-card h3 {
  text-align: center;
  margin-top: 20px;
  padding-bottom: 15px;
  font-size: 20px;
  border-bottom: 2px dotted;
  

}

.box
{
  padding-top: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 300px;
  
}
.form-card {
  min-height: 220px;
  width: 320px;
  padding: 20p 35px;
  background-color: #fa8072b2;
  border-radius: 20px;
  margin: 15px;
  /* position: relative; */
  /* overflow: hidden; */
  box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px;
  
}
.card {
  min-height: 220px;
  width: 320px;
  padding: 20p 35px;
  background-color: #fa8072b2;
  border-radius: 20px;
  margin: 15px;
  /* position: relative; */
  /* overflow: hidden; */
  text-align: center;
  box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px;
  
}
  /* social media */
.card i {
  padding-top: 20px;
  margin-top: 5px;
  margin-left: 20px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  letter-spacing: 5px;
  font-size: 10px;
  font-weight: bold;

}

.card .fa-envelope {
  letter-spacing: 3px;
  font-size: 10px;
}
   /* form */
/* form {
  padding-top: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1em;
}

.name
 {
  display: flex;
  justify-items: center;
  align-items: center;
  gap: 1em;
  
 }

 .name label:last-of-type {
  align-self: flex-start;
 } */
 form {
  margin: 1em auto;
  display: table;
 }
 .name {
  display: table-row;
 }
 input, label {
  display: table-cell;
 }
 label {
  padding-right: 1em;
 }
 .name label:last-of-type {
  vertical-align: top;
 }

 label i {
  margin-right: 0.5em;
 }

 
 

 /* .name i {
  position: absolute;
  bottom: 5px;
  left: 28px;
 } */
 


 input, textarea {
  background-color: white;
  border: none;
  padding: 5px 3px;
 }

 
 ::placeholder
 {
  color: grey;
 }

 @media (min-width:600px) 
 {
  .content {
    
     font-size: 30px;
    width: 800px;
    margin: 0 auto;

  }
  
 }






























